.react-flow__panel.react-flow__attribution {
  display: none;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  width: 127px;
  height: 49px;
  border: 1px solid #1a192b;
  border-radius: 9px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  width: 110px;
  min-height: 48px;
  /* border-radius: 50%;
  border: 1px solid black; */

  border: 1px solid #c8c8c8;
  border-top: 3px solid #2f6ee9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}
.react-flow__node.selected {
  border: unset !important;
  box-shadow: 0px 1px 7px 0px #757575;
}
.react-flow__node-idleNode {
  width: 118px !important;
  min-height: 48px !important;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.react-flow__node-idleNode > div {
  width: 100%;
  border: 1px solid !important;
  border-left-color: #c8c8c8 !important;
  border-right-color: #c8c8c8 !important;
  border-bottom-color: #c8c8c8 !important;
  border-top: 3px solid #2f6ee9 !important;
  border-radius: 4px !important;
  background: #fff;
}
.dndflow .dndnode.circle-node {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}
.dndflow .dndnode.disabled {
  border: #d9d9d9;
  background: #d9d9d9;
  cursor: not-allowed;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

/*#region custom edge*/
.custom-edge-container {
  position: absolute;
  pointer-events: all;
}
.custom-edge-input,
.custom-edge-input:focus {
  border: none;
  outline: none;
  min-width: 50px;
  max-width: 100px;
  color: #000;
  text-align: center;
  font-size: 8px;
  font-weight: 500;
  background: #f5f5f5;
}
/*#endregion*/

.trash-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  z-index: 2;
}

.trash-icon i {
  font-size: 20px;
}

.react-flow__node.selected {
  background-color: lightblue;
  border: 2px solid blue;
  z-index: 1;
}

.node-action-btn {
  margin-left: 4px;
  color: #393939;
  font-size: 12px;
  font-weight: 500;
}
.add-node-btn {
  width: 4px;
  height: 4px;
  position: absolute;
  right: -10px;
  top: 30%;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.start-node .add-node-btn{
  top: -1px;
    right: -6px;
}
.add-node-function-btn {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 3px;
  right: 0;
  cursor: pointer;
}
.node-name {
  border: none;
  outline: none;
  width: 100%;
  text-align: center;
  margin: 14px 0;
}
.func-container {
  width: 100%;
  border-top: 1px dashed #cacaca;
}
.func-container-title {
  color: #9c9c9c;
  font-weight: 500;
  font-size: 8px;
  padding-left: 8px;
}
.node-func {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 4px 8px 8px;
}
.image-svg-2F6EE9-color {
  filter: invert(39%) sepia(55%) saturate(4651%) hue-rotate(210deg)
    brightness(94%) contrast(94%);
}
.action-func-name {
  color: #393939;
  font-size: 10px;
  font-weight: 400;
  flex: 1;
  width: 100%;
  border: unset;
  outline: unset;
  text-align: center;
  margin: 0 4px;
}
.func-action-remove-btn {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}
.node-handle{
  background: transparent;
   border: none;
}
.start-node{
  border-radius: 50%;
  border: 2px solid #3C3C3C;
   width: 23px; 
   height: 23px;
}
@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}
